{% extends "./Templates/template.twig" %}

{% block title %}Inscription adhérent {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">{% endblock %}

{% block header %} {% include "./Templates/header/header.twig" %} {% endblock %}

{% block content %}
    <h1>Inscription adhérent</h1>
    <form action="" method="POST">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="lastname">Nom</label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        
      
        
        <input type="submit" name="submit" value="Inscription">

    </form>
{% endblock %}




{% block footer %} {% include "./Templates/footer/footer.twig" %} {% endblock %}