{% extends "./Templates/template.twig" %}

{% block title %}Inscription adhérent {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">{% endblock %}

{% block header %} {% include "./Templates/header/headerAdmin.twig" %} {% endblock %}

{% block content %}
    <h1 class="title modif-pro register">Inscription adhérent</h1>
    <form class="modif-form" action="" method="POST">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="lastname">Nom</label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        
      
        
        <input class="btnsub btnmodif" type="submit" name="submit" value="Inscription">

    </form>
    <div class="btnbacks"><a class="btnback" href="./spaceAdmin">Retour sur le compte</a></div>
{% endblock %}




{% block footer %} {% include "./Templates/footer/footer-co.twig" %} {% endblock %}