{% extends "./Templates/template.twig" %}

{% block title %}Espace Utilisateur
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/headerUser.twig" %}
	{% include "./Templates/header/searchbar.twig" %}
{% endblock %}

{% block content %}

	
	<a href="./userModif/{{id_user}}">Modifier</a>
{% endblock %}

{% block footer %}
	{% include "./Templates/footer/footer.twig" %}
{% endblock %}
