@import 'reset.scss';

$bgb : #2D2424;
$bgbtn : #5C3D2E;
$color : #E0C097;

body{
    font-family: 'K2D';
    background: $color;
}

// ||-----HOMEPAGE-----||
// -----HEADER------
.headerhome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bgb;
    height: 55px;
    width: 100%;
}
.logoh{
    height: 55px;
}
.logohd{
    height: 100px;
    display: none;
}
.menuh{
    display: none;
    align-items: center;
    &>li{
        &>a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            height: 60px;
            width: 230px;
            line-height: 60px;
            text-align: center;
            margin: 10px;
            font-size: 24px;
            color: $color;
            border: $color solid 3px;
            transition: all 0.3s ease;
            font-weight: bolder;
            &>img{
                width: 60px;
            }
        }    
    }
    &>li:nth-child(3) > a{
        background: $bgbtn;
    }
    &>li:nth-child(3):hover > a{
        border-color: $bgbtn;
        color: #acc4ce;
    }
    &>li:hover > a{
        border-color: $bgbtn;
        color: #acc4ce;
    }
}
.menubg{
    height: 40px;
    width: 40px;
    background-color: $color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &>.line, &>.linecenter{
        height: 2px;
        background-color: $bgb;
        border-radius: 2px;
    }
    &>.line{
        width: 25px;
    }
    &>.linecenter{
        width: 30px;
    }
}
.menumobile{
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bgb;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100vw);
    &> ul{
        text-align: end;
        &> li{
            margin: 30px 10px;
            &> a{
                font-size: 25px;
                text-decoration: none;
                color: $color;
            }
        }
    }
}
.show{
    transform: translateX(0) !important;
}
.close{
    font-size: 36px;
    font-weight: bolder;
    color: $color;
    margin: 10px;
    cursor: pointer;
}

//-----SEARCHBAR------
#searchbar{
    height: 170px;
    background: url(../asset/pexels-tamás-mészáros-12064.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bgblur{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 0px;
    background-color: #2d242423;
    backdrop-filter: blur(1px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    &> label{
        font-size: 20px;
        font-weight: 900;
        color: $color;
    }
    &> .selectcat, &> .inpsearchbar, &> .btnsub{
        margin: 4px auto;
    }
    &> .selectcat{
        width: 150px;
        background: $color;
        font-family: 'K2D';
        font-size: 14px;
        color: $bgb;
        text-align: center;
        border: none;
    }
    &> .inpsearchbar{
        width: 270px;
        font-family: 'K2D';
        font-size: 14px;
        border: none;
    }
    &> .btnsub{
        width: 125px;
        height: 25px;
    }
    &> .btnsub:hover{
        border-color: $bgbtn;
        color: #acc4ce;
    }
    &>#categories{
        width: 270px;
        font-family: 'K2D';
        font-size: 14px;
        border: none;
        display: none;
    }
}
.btnsub{
    border-radius: 0px;
    border: 1px solid $color;
    background: $bgb;
    color: $color;
    border-width: 3px;
    transition: all 0.3s ease;
}
.showit{
    display: block !important;
}
.hideit{
    display: none !important;
}
// -----MAIN------
.title{
    border: 2px solid $bgb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    background-color: $bgbtn;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
    font-size: 16px;
    margin: 20px auto;
    margin-bottom: 10px;
    &.new{
        width: 200px;
        height: 35px;
    }
    &.sugg{
        width: 200px;
        height: 60px;
    }
    &.biblio{
        width: 200px;
        height: 35px;
    }
}
.news{
    background-color: $bgbtn;
    display: flex;
    overflow: hidden;
    height: 360px;
    position: relative;
    &>.book{
        &.pass > .linkbook > .imgbooks{
            position: absolute;
            margin-top: 100px;
            width: 130px;
            transition: all .5s ease;
            &.left{
                transform: scale(0.5) translateX(-5%);
                left: 5%;
            }
            &.lhide{
                transform: scale(0.5) translateX(50%);
                left: -50%;
            }
            &.right{
                transform: scale(0.5) translateX(5%);
                right: 5%;
            }
            &.rhide{
                transform: scale(0.5) translateX(-50%);
                right: -50%;
            }
        }
    }
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: $color;
    z-index: 1000;
    cursor: pointer;
    &.aleft{
        left: 5%;
    }
    &.aright{
        right: 5%;
    }
}
.pointerNone{
    pointer-events: none;
}
.act{
    margin-top: 5px !important;
    transform: scale(1) translateX(-50%) !important;
    left: 50% !important;
}
.sugg{
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: $bgbtn;
    align-items: center;
}
.imgbook{
    width: 90px;
    height: 140px;
}
.biblio{
    text-align: center;
    background: $bgbtn;
    &>.resume{
        font-size: 16px;
        color: $color;
        padding-bottom: 20px;
        margin: 5px;
        margin-bottom: 10px;
    }
}
.imgbiblio{
    width: 100%;
}
// ------FOOTER-------
#footermain{
    background: $bgb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &>.logocontact{
        display: flex;
        flex-direction: column;
        align-items: center;
        &>.contacttitle{
            width: 150px;
            height: 40px;
            border: 2px solid $bgbtn;
            line-height: 40px;
            text-align: center;
            background: $color;
            &> h3{
                font-size: 16px;
                font-weight: bolder;
                color: $bgb;
            }
    }
}
.socialnkhor{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
    &>.social{
        &>.title{
            width: 120px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            padding: 3px;
            background: $color;
            border: 2px solid $bgbtn;
            color: $bgb;
            font-size: 14px;
        }
        &>.logosocial{
            display: flex;
            justify-content: space-around;
            padding: 3px 0;
            &>a{
                &>.logoS{
                    width: 30px;
                }   
            }

        }
    }
    &>.horaire{
        color: $color;
        &>p{
            font-size: 12px;
            font-weight: bold;
            &>span{
                text-decoration: underline;
            }
            &>a{
                text-decoration: none;
                color: $color;
                transition: all 0.3s;
                &:hover{
                    color: #acc4ce;
                    text-decoration: underline;
                }
            }
        }
        &>#hor{
            margin-bottom: 10px;
        }
    }
}
    
}
.imglogo{
    width: 255px;
}
.btncontact{
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: $bgbtn;
    border: 2px solid $color;
    color: $color;
    padding: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        border-color: $bgbtn;
        color: #acc4ce;
    }
}
.contact{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: $bgb;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100vw);
    &>form{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: $color;
        &>label{
            margin-top: 10px;
        }
        &>input{
            margin-top: 10px;
            width: 125px;
            height: 25px;
            border-radius: 0px;
            border: 1px solid $color;
            background: $bgb;
            color: $color;
            border-width: 3px;
            transition: all 0.3s ease;
        }
        
    }
}
.closec{
    font-size: 36px;
    font-weight: bolder;
    color: $color;
    margin: 10px;
    cursor: pointer;
}
.mention{
    color: white;
    font-size: 12px;
    margin: 5px 0px;
}

// ||------CONNEXION-------||
.connectp, .modif-form{
    background: $bgbtn;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $bgb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    &>.btnconnect{
        width: 100%;
        display: flex;
        justify-content: center;
        &>.btnlinkco{
            display: block;
            border: 2px solid $bgb;
            width: 110px;
            height: 50px;
            font-size: 14px;
            color: $bgb;
            background: #E0C097;
            text-align: center;
            line-height: 50px;
            text-decoration: none;
            font-weight: bold;
            transition: all 0.5s ease;
            &:hover, &.active{
                color: #acc4ce;
                background-color: $bgb;
            }
        }
    }
    &>.titleco{
        text-align: center;
        margin: 30px;
        font-size: 16px;
        color: $color;
    }
    &>.formconnect{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &>.inpconn{
            width: 80%;
            margin: 20px 0;
        }
        &>.btnsub{
            width: 160px;
            height: 35px;
            font-size: 16px;
        }
    }
}
.btnbacks{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.btnback{
    color: $bgb;
}
// -----FOOTERCO------
.co{
    display: none;
}

// ||-----SPACE ADMIN------||

.contentAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}
.add-diff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnsubb{
    padding: 10px;
    background-color: $bgbtn;
    border: 2px solid $bgb;
    transition: all .3s ease;
    &>a{
        color: $color;
        text-decoration: none;
    }
    &:hover{
        background: $bgb;
        &>a{
            color: #acc4ce;
        }
    }
}
.diffetat{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
    &>.circles{
        display: flex;
        align-items: center;
    }
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    &.red{
        background: red;
    }
    &.yellow{
        background: yellow;
    }
    &.green{
        background: green;
    }
}
.contentbook{
    display: flex;
    flex-direction: column;
    background-color: $bgbtn;
    margin-bottom: 5px;
}
.content-img-bookadm{
    display: none;
}
.resumbook{
    width: 50%;
}
.bookadmin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    margin: 5px 0;
    color: $color;
    &>.line{
        position: absolute;
        left: 10%;
        bottom: -5px;
        width: 80%;
        height: 2px;
        border-radius: 2px;
        background-color: $color;
        
    }
}
.btna{
    width: 40px;
    height: 40px;
    background: $color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    &>span{
        display: none;
    }
}
.btn-ico{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.ico-mo{
    width: 40px;
}
.ico-trash{
    width: 40px;
}
.nbrpage{
    color: $bgbtn;
}
// ||----ADD BOOK----||
.newbookt{
    width: 150px;
    height: 45px;
}
.formaddbook{
    background: $bgbtn;
    margin: 10px 0;
    color: $color;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.tay, .dcgi, .cgi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    &>label{
        margin-bottom: 5px;
    }
    &>input{
        width: 80%;
        margin-bottom: 10px;
        font-family: 'K2D';
        text-align: center;
    }
}
.dcgi{
    &>.descadd{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>textarea{
            width: 80%;
            height: 150px;
            font-family: 'K2D';
            margin-bottom: 10px;
        }
    }
}
.cgi{
    width: 100%;
    margin-bottom: 10px;
    &>select{
        margin-bottom: 10px;
        width: 80%;
        font-family: 'K2D';
        text-align: center;
    }
}
.gender-add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    &>.checkboxcontent{
        &>label{
        height: 30px;
        display: flex;
        align-items: center;
        width: 150px;
        justify-content: space-between;
        margin-bottom: 10px;
            &>input[type="checkbox"]{
                appearance: none;
                background-color: white;
                margin: 0;
                width: 30px;
                height: 30px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.50);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before{
                    transform: scale(0);
                    content: "";
                    width: 20px;
                    height: 20px;
                    margin: 5px;
                    background: $color;
                    border-radius: 50%;
                    transition: all 0.2s ease;
                }
                &:checked::before{
                    transform: scale(1);
                }
            }
        }
    }
    
}
.ple{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    &>label{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        &>span{
            margin-bottom: 10px;
            text-align: center;
        }
    }
    &>input{
        width: 80%;
        margin-bottom: 20px;
    }
    &>.upload{
        display: inline-block;
        position: relative;
        width: 100%;
        overflow: hidden;
        & input[type="file"]{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            font-size: 30px;
        }
        & .btn-upload{
            background: #fff;
            border: none;
            color: $bgbtn;
            font-family: 'K2D';
            width: 80%;
            margin-left: 10%;
            margin-bottom: 10px;
        }
    }
}
.etat{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    &>.condition{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
    &>label{
        margin-bottom: 10px;
        &>input[type="radio"]{
            appearance: none;
            background-color: white;
            margin: 0;
            width: 30px;
            height: 30px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.50);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                transform: scale(0);
                content: "";
                width: 20px;
                height: 20px;
                margin: 5px;
                background: $color;
                border-radius: 50%;
                transition: all 0.2s ease;
            }
            &:checked::before{
                transform: scale(1);
            }
        }
    }
}
.quantity{
    display: flex;
    align-items: center;
    flex-direction: column;
    &>label{
        margin-bottom: 10px;
    }
    &>input{
        margin-bottom: 20px;
    }
}
.addbook{
    width: 160px;
    height: 35px;
    align-self: center;
}


// ||--------SPACE USER-------||
.accountt, .histo, .suggt{
    width: 200px;
    height: 35px;
}
.user-historique{
    height: 400px;
    background: $bgbtn;
    margin: 10px;
}
.user-account-info{
    background-color: $bgbtn;
    color: $color;
    text-align: center;
    padding: 10px;
    margin: 10px;
    &>.btnaccount{
        margin: 10px auto;
        padding: 5px;
        display: block;
        width: 150px;
        text-decoration: none;
    }
}
.suggUser{
    &>.sugg{
        margin-bottom: 10px;
    }
}

// ||------MODIF USER-------||
.modif-pro{
    width: 200px;
    height: 35px;
}
.modif-form{
    &>label{
        margin: 5px 0;
        color: $color;
    }
    &>input{
        margin: 5px 0;
        width: 80%;
        text-align: center;
        &[type='email']{
            margin-bottom: 30px;
        }
        &.btnmodif{
            width: 50%;
            height: 35px;
        }
    }
}

// ||-------SEARCH-------||
.searcht{
    width: 200px;
    height: 60px;
    font-size: 20px;
}
.contentsearchpage{
    background: $bgbtn;
    margin: 20px 0;
    &>.contentpage{
        display: flex;
        justify-content: center;
        &>.nbrpage{
            margin: 10px;
            color: $color;
            font-weight: bolder;
        }
    }
}
.contentsearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background: $bgbtn;
}
.imgbookss{
    width: 90px;
    height: 140px;
    margin: 10px 0;
}
.bookdescse{
    display: none;
}
// ||-----BOOK------||
.tbook{
    width: 200px;
    height: 45px;
    font-size: 20px;
}
.figurefirstpage{
    display: flex;
    justify-content: center;
}
.imgbookse{
    width: 250px;
}
.infobook{
    display: flex;
    flex-direction: column;
    background: $bgbtn;
    width: 80%;
    margin: 20px 0;
    text-align: center;
    color: $color;
    padding: 10px 0;
    font-weight: bold;
    &>p{
        margin: 2px;
    }
}
.descbook{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 0;
    margin-left: 20%;
    background-color: $bgbtn;
    color: $color;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    &>p{
        margin: 10px;
    }
}
.bgbookmark{
    display: inline-flex;
    justify-content: start;
    margin: 20px 0;
    color: $color;
    
    &>.square{
        width: 240px;
        height: 40px;
        background: $bgbtn;
        box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.50);
        &>a{
            text-decoration: none;
            color: $bgb;
        }
    }
    &>.triangle{
        width: 0px;
        height: 0px;
        z-index: -1;
        border-top: 40px solid $bgbtn;
        border-right: 40px solid transparent;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.50));
    }
}
.bgres{
    background-color: $bgbtn;
    width: 100%;
    display: flex;

}
.btn-wanted{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.btnbooking{
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 10px 0;
}
.usereserv{
    transform: translateX(-100vw);
    transition: all 0.3s ease-in-out;
    background-color: $bgb;
    color: $color;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
// ------MEDIA QUERIE-------
@media screen and (min-width: 1000px) {
    // ||----homepage----||
    // ----hender----
    .menubg, .logoh{
        display: none;
    }
    .headerhome{
        height: 100px;
    }
    .logohd{
        display: block;
    }
    .menuh{
        display: flex;
    }
    // ----searchbar----
    #searchbar{
        height: 650px;
        &>.bgblur{
            flex-direction: row;
            justify-content: center;
            backdrop-filter: blur(2px);
            &>label{
                font-size: 64px;
            }
            &> .selectcat, &> .inpsearchbar, &> .btnsub{
                margin: 50px 10px;
            }
            &> .selectcat{
                font-size: 24px;
                width: 20%;
            }
            &> .inpsearchbar{
                width: 40%;
                font-size: 24px;
            }
            &> .btnsub{
                width: 20%;
                height: 50px;
                font-size: 24px;
            }
            &>#categories{
                width: 40%;
                font-size: 24px;
            }
        }
    }
    // -----main-----
    .news{
        height: 900px;
    }
    .imgbooks{
        width: 450px !important;
    }
    .title{
        font-size: 40px;
        &.new, &.biblio, &.sugg{
            width: 650px;
            height: 80px;
        }
    }
    .sugg{
        height: 800px;
    } 
    .imgbook{
        width: 300px;
        height: 540px;
    }
    .biblio{
        &>.resume{
            font-size: 36px;
            padding: 10px 200px 300px 200px;
        }
    }
    .imgbiblio{
        width: 80%;
        padding-top: 10px;
    }
    // ----footer----
    #footermain{
        padding: 5px;
        &>.logocontact{
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            &> .imglogo{
                width: 450px;
            }
            &> .contacttitle{
                margin-right: 80px;
                width: 260px;
                height: 80px;
                line-height: 80px;
                border-width: 3px;
                &>h3{
                    font-size: 26px;
                }
            }
        }
        #msg{
            width: 500px;
        }
        &>.socialnkhor{
            margin-top: 10px;
            &>.social{
                &>.title{
                    width: 250px;
                    height: 80px;
                    line-height: 80px;
                    border-width: 3px;
                    font-size: 26px;
                }
                &>.logosocial{
                    justify-content: space-between;
                    padding: 50px 0;
                    &>a{
                        &>.logoS{
                            width: 80px;
                        }
                    }
                }
            }
            &>.horaire{
                &>p{
                    font-size: 26px;
                }
                &>#hor{
                    margin-bottom: 100px;
                }
            }
        }
    }
    .btncontact{
        width: 250px;
        height: 80px;
        line-height: 80px;
        border-width: 3px;
        font-size: 26px;
    }
    .mention{
        margin: 40px 0;
    }
    // ||-----connexion------||
    .connectp, .modif-form{
        margin: 100px auto;
        margin-bottom: 10px;
        padding: 20px 5px;
        width: 40%;
        &>.btnconnect{
            &>.btnlinkco{
                width: 220px;
                height: 80px;
                font-size: 30px;
                line-height: 80px;
            }
        }
        &>.titleco{
            font-size: 30px;
        }
        &>.formconnect{
            &>.inpconn{
                height: 30px;
                font-size: 24px;
            }
            &>.btnsub{
                width: 300px;
                height: 50px;
                font-size: 30px;
                margin-top: 60px;
            }
        }
    }
    .btnbacks{
        margin-bottom: 90px;
    }

    // ||------space admin------||
    .menuadmin{
        &>li{
            &>a{
                font-size: 16px;
                line-height: normal;
            }
        }
    }
    .add-diff{
        flex-direction: row;
        justify-content: flex-start;
        width: 80%;
        margin-bottom: 30px;
    }
    .btnsubb{
        width: 250px;
        height: 65px;
        font-size: 24px;
    }
    .diffetat{
        width: 50%;
        font-size: 20px;
    }
    .circle{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .bookadmin{
        &>.line{
            width: 90%;
            left: 5%;
        }
    }
    .contentbook{
        width: 90%;
    }
    .content-img-bookadm{
        display: block;
        & .img-bookadm{
            width: 280px;
        }
    }
    .resumbook{
        font-size: 20px;
        &>p, &>h3{
            margin-bottom: 20px;
        }
    }
    .btn-ico{
        flex-direction: column;
        align-items: center;
        height: 370px;
        &>a{
            text-decoration: none;
        }
    }
    .btna{
        width: 200px;
        padding: 0 10px;
        justify-content: space-between;
        transition: all 0.3s ease;
        &>span{
            display: block;
            color: $bgbtn;
            font-size: 24px;
        }
        &:hover{
            background: #acc4ce;
        }
    }
    // ||-----add book------||
    .newbookt{
        width: 350px;
        height: 65px;
    }
    .formaddbook{
        margin: 10px;
        font-size: 24px;
    }
    .tay, .dcgi{
        flex-direction: row;
        &>.descadd{
            text-align: start;
            margin: 30px 0;
            &>textarea{
                margin-top: 10px;
                font-size: 20px;
                width: 700px;
                height: 400px;
            }
        }
        &>input{
            height: 28px;
            width: 40%;
            margin-left: 10px;
            margin-right: 20px;
            font-size: 20px;
        }
    }
    .cgi{
        &>input{
            height: 28px;
            width: 40%;
            font-size: 20px;
        }
        &>select{
            height: 28px;
            font-size: 20px;
            width: 40%;
        }
    }
    .gender-add{
        margin: 10px;
        &>.checkboxcontent{
            display: flex;
            flex-wrap: wrap;
            &>label{
                justify-content: center;
            }
        }
    }
    .pleetat{
        display: flex;
        justify-content: center;
    }
    .ple{
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        &>input{
            width: 30%;
            height: 28px;
            font-size: 20px;
            margin-bottom: 10px;
        }
        &>label{
            flex-direction: row;
            height: 28px;
            &>span{
                margin-right: 50px;
            }
        }
        &>.upload {
            height: 28px;
            margin-bottom: 10px;
            width: 40%;
           & .btn-upload{
                width: 60%;
                height: 28px;
                font-size: 20px;
            } 
        }
    }
    .etat{
        width: 40%;
        &>.condition{
            width: 40%;
        }
    }
    .quantity{
        flex-direction: row;
        &>label{
            margin-bottom: 0;
            margin-right: 5px;
        }
        &>input{
            height: 28px;
            margin-bottom: 0;
        }
    }
    .addbook{
        width: 280px;
        height: 55px;
        font-size: 30px;
    }

    // ||-----register user-----||
    .register{
        width: 40vw !important;
    }

    // ||-----space user-----||
    .accountt, .histo, .suggt{
        width: 400px;
        height: 65px;
    }
    .user{
        display: flex;
        justify-content: space-around;
    }
    .histo-account{
        width: 45%;
    }
    .user-account-info{
        font-size: 26px;
    }
    .suggUser{
        width: 45%;
        &>.sugg{
            width: 100%;
            &>.book{
                &>.linkbook{
                    &>.imgbook{
                        width: 280px;
                        height: 445px;
                    }
                }
                &:nth-child(odd){
                    margin-top: 100px;
                }
            }
        }
    }

    // ||-----modif user-----||
    .modif-pro{
        width: 20vw;
        height: 60px;
        line-height: 60px;
        
    }
    .modif-form{
        margin: 50px auto;
        font-size: 24px;
        width: 60%;
        &>input{
            height: 26px;
            font-size: 24px;
            width: 50%;
            &.btnmodif{
                font-size: 36px;
                height: 50px;
                width: 30%;

            }
        }
    }

    // ||----book----||
    .tbook{
        width: 470px;
        height: 100px;
        color: $bgbtn;
        background: $color;
    }
    .headbook{
        background: $bgbtn;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 50px 0;
        position: relative;
    }
    .imgbookse{
        width: 470px;
        height: 700px;
        margin: 10px 20px;
    }
    .infobook{
        margin: 0px;
        width: 500px;
        position: absolute;
        right: 0;
        bottom: 20%;
        font-size: 30px;
    }
    .descbook{
        margin: 0px;
        width: 60%;
        font-size: 30px;
        height: 800px;
        justify-content: center;
    }
    // ||----search----||
    .searcht{
        width: 680px;
        height: 100px;
        font-size: 36px;
    }
    .contentsearch{
        &>a{
            text-decoration: none;
        }
    }
    .bookdescse{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $color;
        margin: 10px;
        font-size: 30px;
        width: 435px;
        text-align: center;
    }
    .booksear{    
        display: flex;
        background: $bgb;
        margin: 10px 0;
    }
    .imgbookss{
        width: 340px;
        height: 540px;
        margin: 0;
    }
}
