@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'K2D';
  background: #E0C097;
}

.headerhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2424;
  height: 55px;
  width: 100vw;
}

.logoh {
  height: 55px;
}

.logohd {
  height: 100px;
  display: none;
}

.menuh {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuh > li > a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 230px;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  font-size: 24px;
  color: #E0C097;
  border: #E0C097 solid 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.menuh > li > a > img {
  width: 60px;
}

.menuh > li:nth-child(3) > a {
  background: #5C3D2E;
}

.menuh > li:nth-child(3):hover > a {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.menuh > li:hover > a {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.menubg {
  height: 40px;
  width: 40px;
  background-color: #E0C097;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menubg > .line, .menubg > .linecenter {
  height: 2px;
  background-color: #2D2424;
  border-radius: 2px;
}

.menubg > .line {
  width: 25px;
}

.menubg > .linecenter {
  width: 30px;
}

.menumobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2D2424;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.menumobile > ul {
  text-align: end;
}

.menumobile > ul > li {
  margin: 5px 10px;
}

.menumobile > ul > li > a {
  font-size: 25px;
  text-decoration: none;
  color: #E0C097;
}

.show {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.close {
  font-size: 36px;
  font-weight: bolder;
  color: #E0C097;
  margin: 10px;
}

#searchbar {
  height: 170px;
  background: url(../asset/pexels-tamás-mészáros-12064.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bgblur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5px 0px;
  background-color: #2d242423;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.bgblur > label {
  font-size: 20px;
  font-weight: 900;
  color: #E0C097;
}

.bgblur > .selectcat, .bgblur > .inpsearchbar, .bgblur > .btnsub {
  margin: 4px auto;
}

.bgblur > .selectcat {
  width: 150px;
  background: #E0C097;
  font-family: 'K2D';
  font-size: 14px;
  color: #2D2424;
  text-align: center;
  border: none;
}

.bgblur > .inpsearchbar {
  width: 270px;
  font-family: 'K2D';
  font-size: 14px;
  border: none;
}

.bgblur > .btnsub {
  width: 125px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid #E0C097;
  background: #2D2424;
  color: #E0C097;
  border-width: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bgblur > .btnsub:hover {
  border-color: #5C3D2E;
  color: #acc4ce;
}

#footermain {
  background: #2D2424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footermain > .logocontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footermain > .logocontact > .contacttitle {
  width: 150px;
  height: 40px;
  border: 2px solid #5C3D2E;
  line-height: 40px;
  text-align: center;
  background: #E0C097;
}

#footermain > .logocontact > .contacttitle > h3 {
  font-size: 16px;
  font-weight: bolder;
  color: #2D2424;
}

#footermain .socialnkhor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  width: 100%;
}

#footermain .socialnkhor > .social > .title {
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  background: #E0C097;
  border: 2px solid #5C3D2E;
  color: #2D2424;
}

#footermain .socialnkhor > .social > .logosocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3px 0;
}

#footermain .socialnkhor > .social > .logosocial > a > .logoS {
  width: 30px;
}

#footermain .socialnkhor > .horaire {
  color: #E0C097;
}

#footermain .socialnkhor > .horaire > p {
  font-size: 12px;
  font-weight: bold;
}

#footermain .socialnkhor > .horaire > p > span {
  text-decoration: underline;
}

#footermain .socialnkhor > .horaire > #hor {
  margin-bottom: 10px;
}

.imglogo {
  width: 255px;
}

.btncontact {
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #5C3D2E;
  border: 2px solid #E0C097;
  color: #E0C097;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btncontact:hover {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.contact {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #2D2424;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.contact > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  color: #E0C097;
}

.contact > form > label {
  margin-top: 10px;
}

.contact > form > button {
  margin-top: 10px;
  width: 125px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid #E0C097;
  background: #2D2424;
  color: #E0C097;
  border-width: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.closec {
  font-size: 36px;
  font-weight: bolder;
  color: #E0C097;
  margin: 10px;
}

.mention {
  color: white;
  font-size: 12px;
  margin: 5px 0px;
}

.imgbook {
  width: 130px;
  height: 200px;
}

@media screen and (min-width: 1000px) {
  .menubg, .logoh {
    display: none;
  }
  .headerhome {
    height: 100px;
  }
  .logohd {
    display: block;
  }
  .menuh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #searchbar {
    height: 650px;
  }
  #searchbar > .bgblur {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  #searchbar > .bgblur > label {
    font-size: 64px;
  }
  #searchbar > .bgblur > .selectcat, #searchbar > .bgblur > .inpsearchbar, #searchbar > .bgblur > .btnsub {
    margin: 50px 10px;
  }
  #searchbar > .bgblur > .selectcat {
    font-size: 24px;
    width: 20%;
  }
  #searchbar > .bgblur > .inpsearchbar {
    width: 40%;
    font-size: 24px;
  }
  #searchbar > .bgblur > .btnsub {
    width: 20%;
    height: 50px;
    font-size: 24px;
  }
  #footermain {
    padding: 5px;
  }
  #footermain > .logocontact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  #footermain > .logocontact > .imglogo {
    width: 550px;
  }
  #footermain > .logocontact > .contacttitle {
    width: 360px;
    height: 90px;
    line-height: 90px;
    border-width: 3px;
  }
  #footermain > .logocontact > .contacttitle > h3 {
    font-size: 36px;
  }
  #footermain > .socialnkhor {
    margin-top: 10px;
  }
  #footermain > .socialnkhor > .social > .title {
    width: 550px;
    height: 90px;
    line-height: 90px;
    border-width: 3px;
    font-size: 36px;
  }
  #footermain > .socialnkhor > .social > .logosocial {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0;
  }
  #footermain > .socialnkhor > .social > .logosocial > a > .logoS {
    width: 160px;
  }
  #footermain > .socialnkhor > .horaire > p {
    font-size: 36px;
  }
  #footermain > .socialnkhor > .horaire > #hor {
    margin-bottom: 100px;
  }
  .btncontact {
    width: 550px;
    height: 90px;
    line-height: 90px;
    border-width: 3px;
    font-size: 36px;
  }
  .mention {
    margin: 40px 0;
  }
}
/*# sourceMappingURL=style.css.map */