@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'K2D';
  background: #E0C097;
}

.headerhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2424;
  height: 55px;
  width: 100%;
}

.logoh {
  height: 55px;
}

.logohd {
  height: 100px;
  display: none;
}

.menuh {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuh > li > a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 230px;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  font-size: 24px;
  color: #E0C097;
  border: #E0C097 solid 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.menuh > li > a > img {
  width: 60px;
}

.menuh > li:nth-child(3) > a {
  background: #5C3D2E;
}

.menuh > li:nth-child(3):hover > a {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.menuh > li:hover > a {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.menubg {
  height: 40px;
  width: 40px;
  background-color: #E0C097;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menubg > .line, .menubg > .linecenter {
  height: 2px;
  background-color: #2D2424;
  border-radius: 2px;
}

.menubg > .line {
  width: 25px;
}

.menubg > .linecenter {
  width: 30px;
}

.menumobile {
  position: fixed;
  z-index: 5000;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2D2424;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.menumobile > ul {
  text-align: end;
}

.menumobile > ul > li {
  margin: 30px 10px;
}

.menumobile > ul > li > a {
  font-size: 25px;
  text-decoration: none;
  color: #E0C097;
}

.show {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.close {
  font-size: 36px;
  font-weight: bolder;
  color: #E0C097;
  margin: 10px;
  cursor: pointer;
}

#searchbar {
  height: 170px;
  background: url(../asset/pexels-tamás-mészáros-12064.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bgblur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 0px;
  background-color: #2d242423;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.bgblur > label {
  font-size: 20px;
  font-weight: 900;
  color: #E0C097;
}

.bgblur > .selectcat, .bgblur > .inpsearchbar, .bgblur > .btnsub {
  margin: 4px auto;
}

.bgblur > .selectcat {
  width: 150px;
  background: #E0C097;
  font-family: 'K2D';
  font-size: 14px;
  color: #2D2424;
  text-align: center;
  border: none;
}

.bgblur > .inpsearchbar {
  width: 270px;
  font-family: 'K2D';
  font-size: 14px;
  border: none;
}

.bgblur > .btnsub {
  width: 125px;
  height: 25px;
}

.bgblur > .btnsub:hover {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.bgblur > #categories {
  width: 270px;
  font-family: 'K2D';
  font-size: 14px;
  border: none;
  display: none;
}

.btnsub {
  border-radius: 0px;
  border: 1px solid #E0C097;
  background: #2D2424;
  color: #E0C097;
  border-width: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.showit {
  display: block !important;
}

.hideit {
  display: none !important;
}

.title {
  border: 2px solid #2D2424;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E0C097;
  background-color: #5C3D2E;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin: 20px auto;
  margin-bottom: 10px;
}

.title.new {
  width: 200px;
  height: 35px;
}

.title.sugg {
  width: 200px;
  height: 60px;
}

.title.biblio {
  width: 200px;
  height: 35px;
}

.news {
  background-color: #5C3D2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 360px;
  position: relative;
}

.news > .book.pass > .linkbook > .imgbooks {
  position: absolute;
  margin-top: 100px;
  width: 130px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.news > .book.pass > .linkbook > .imgbooks.left {
  -webkit-transform: scale(0.5) translateX(-5%);
          transform: scale(0.5) translateX(-5%);
  left: 5%;
}

.news > .book.pass > .linkbook > .imgbooks.lhide {
  -webkit-transform: scale(0.5) translateX(50%);
          transform: scale(0.5) translateX(50%);
  left: -50%;
}

.news > .book.pass > .linkbook > .imgbooks.right {
  -webkit-transform: scale(0.5) translateX(5%);
          transform: scale(0.5) translateX(5%);
  right: 5%;
}

.news > .book.pass > .linkbook > .imgbooks.rhide {
  -webkit-transform: scale(0.5) translateX(-50%);
          transform: scale(0.5) translateX(-50%);
  right: -50%;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: #E0C097;
  z-index: 1000;
  cursor: pointer;
}

.arrow.aleft {
  left: 5%;
}

.arrow.aright {
  right: 5%;
}

.pointerNone {
  pointer-events: none;
}

.act {
  margin-top: 5px !important;
  -webkit-transform: scale(1) translateX(-50%) !important;
          transform: scale(1) translateX(-50%) !important;
  left: 50% !important;
}

.sugg {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5C3D2E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgbook {
  width: 90px;
  height: 140px;
}

.biblio {
  text-align: center;
  background: #5C3D2E;
}

.biblio > .resume {
  font-size: 16px;
  color: #E0C097;
  padding-bottom: 20px;
  margin: 5px;
  margin-bottom: 10px;
}

.imgbiblio {
  width: 100%;
}

#footermain {
  background: #2D2424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footermain > .logocontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footermain > .logocontact > .contacttitle {
  width: 150px;
  height: 40px;
  border: 2px solid #5C3D2E;
  line-height: 40px;
  text-align: center;
  background: #E0C097;
}

#footermain > .logocontact > .contacttitle > h3 {
  font-size: 16px;
  font-weight: bolder;
  color: #2D2424;
}

#footermain .socialnkhor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  width: 100%;
}

#footermain .socialnkhor > .social > .title {
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  background: #E0C097;
  border: 2px solid #5C3D2E;
  color: #2D2424;
  font-size: 14px;
}

#footermain .socialnkhor > .social > .logosocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3px 0;
}

#footermain .socialnkhor > .social > .logosocial > a > .logoS {
  width: 30px;
}

#footermain .socialnkhor > .horaire {
  color: #E0C097;
}

#footermain .socialnkhor > .horaire > p {
  font-size: 12px;
  font-weight: bold;
}

#footermain .socialnkhor > .horaire > p > span {
  text-decoration: underline;
}

#footermain .socialnkhor > .horaire > p > a {
  text-decoration: none;
  color: #E0C097;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#footermain .socialnkhor > .horaire > p > a:hover {
  color: #acc4ce;
  text-decoration: underline;
}

#footermain .socialnkhor > .horaire > #hor {
  margin-bottom: 10px;
}

.imglogo {
  width: 255px;
}

.btncontact {
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #5C3D2E;
  border: 2px solid #E0C097;
  color: #E0C097;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btncontact:hover {
  border-color: #5C3D2E;
  color: #acc4ce;
}

.contact {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #2D2424;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.contact > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  color: #E0C097;
}

.contact > form > label {
  margin-top: 10px;
}

.contact > form > input {
  margin-top: 10px;
  width: 125px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid #E0C097;
  background: #2D2424;
  color: #E0C097;
  border-width: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.closec {
  font-size: 36px;
  font-weight: bolder;
  color: #E0C097;
  margin: 10px;
  cursor: pointer;
}

.mention {
  color: white;
  font-size: 12px;
  margin: 5px 0px;
}

.connectp, .modif-form {
  background: #5C3D2E;
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #2D2424;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.connectp > .btnconnect, .modif-form > .btnconnect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connectp > .btnconnect > .btnlinkco, .modif-form > .btnconnect > .btnlinkco {
  display: block;
  border: 2px solid #2D2424;
  width: 110px;
  height: 50px;
  font-size: 14px;
  color: #2D2424;
  background: #E0C097;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.connectp > .btnconnect > .btnlinkco:hover, .connectp > .btnconnect > .btnlinkco.active, .modif-form > .btnconnect > .btnlinkco:hover, .modif-form > .btnconnect > .btnlinkco.active {
  color: #acc4ce;
  background-color: #2D2424;
}

.connectp > .titleco, .modif-form > .titleco {
  text-align: center;
  margin: 30px;
  font-size: 16px;
  color: #E0C097;
}

.connectp > .formconnect, .modif-form > .formconnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.connectp > .formconnect > .inpconn, .modif-form > .formconnect > .inpconn {
  width: 80%;
  margin: 20px 0;
}

.connectp > .formconnect > .btnsub, .modif-form > .formconnect > .btnsub {
  width: 160px;
  height: 35px;
  font-size: 16px;
}

.btnbacks {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.btnback {
  color: #2D2424;
}

.co {
  display: none;
}

.contentAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0;
}

.add-diff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnsubb {
  padding: 10px;
  background-color: #5C3D2E;
  border: 2px solid #2D2424;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btnsubb > a {
  color: #E0C097;
  text-decoration: none;
}

.btnsubb:hover {
  background: #2D2424;
}

.btnsubb:hover > a {
  color: #acc4ce;
}

.diffetat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.diffetat > .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.circle.red {
  background: red;
}

.circle.yellow {
  background: yellow;
}

.circle.green {
  background: green;
}

.contentbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #5C3D2E;
  margin-bottom: 5px;
}

.content-img-bookadm {
  display: none;
}

.resumbook {
  width: 50%;
}

.bookadmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: relative;
  margin: 5px 0;
  color: #E0C097;
}

.bookadmin > .line {
  position: absolute;
  left: 10%;
  bottom: -5px;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: #E0C097;
}

.btna {
  width: 40px;
  height: 40px;
  background: #E0C097;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btna > span {
  display: none;
}

.btn-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.ico-mo {
  width: 40px;
}

.ico-trash {
  width: 40px;
}

.nbrpage {
  color: #5C3D2E;
}

.newbookt {
  width: 150px;
  height: 45px;
}

.formaddbook {
  background: #5C3D2E;
  margin: 10px 0;
  color: #E0C097;
  padding: 20px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tay, .dcgi, .cgi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tay > label, .dcgi > label, .cgi > label {
  margin-bottom: 5px;
}

.tay > input, .dcgi > input, .cgi > input {
  width: 80%;
  margin-bottom: 10px;
  font-family: 'K2D';
  text-align: center;
}

.dcgi > .descadd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dcgi > .descadd > textarea {
  width: 80%;
  height: 150px;
  font-family: 'K2D';
  margin-bottom: 10px;
}

.cgi {
  width: 100%;
  margin-bottom: 10px;
}

.cgi > select {
  margin-bottom: 10px;
  width: 80%;
  font-family: 'K2D';
  text-align: center;
}

.gender-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.gender-add > .checkboxcontent > label {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.gender-add > .checkboxcontent > label > input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  margin: 0;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender-add > .checkboxcontent > label > input[type="checkbox"]::before {
  -webkit-transform: scale(0);
          transform: scale(0);
  content: "";
  width: 20px;
  height: 20px;
  margin: 5px;
  background: #E0C097;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gender-add > .checkboxcontent > label > input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.ple > label {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ple > label > span {
  margin-bottom: 10px;
  text-align: center;
}

.ple > input {
  width: 80%;
  margin-bottom: 20px;
}

.ple > .upload {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ple > .upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 30px;
}

.ple > .upload .btn-upload {
  background: #fff;
  border: none;
  color: #5C3D2E;
  font-family: 'K2D';
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

.etat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.etat > .condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.etat > label {
  margin-bottom: 10px;
}

.etat > label > input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  margin: 0;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.etat > label > input[type="radio"]::before {
  -webkit-transform: scale(0);
          transform: scale(0);
  content: "";
  width: 20px;
  height: 20px;
  margin: 5px;
  background: #E0C097;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.etat > label > input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quantity > label {
  margin-bottom: 10px;
}

.quantity > input {
  margin-bottom: 20px;
}

.addbook {
  width: 160px;
  height: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accountt, .histo, .suggt {
  width: 200px;
  height: 35px;
}

.user-historique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  background: #5C3D2E;
  margin: 10px;
}

.user-historique > .book-res, .user-historique > .book-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-historique > .book-res > .date, .user-historique > .book-res > .bookreserv, .user-historique > .book-date > .date, .user-historique > .book-date > .bookreserv {
  height: 30px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #E0C097;
}

.user-historique > .book-res > .bookreserv, .user-historique > .book-date > .bookreserv {
  border-bottom: #E0C097 2px solid;
  border-radius: 5px;
}

.user-historique > .btnreserv-co {
  width: 100%;
  text-align: center;
}

.user-historique > .btnreserv-co > .btnreserv {
  color: #E0C097;
}

.user-account-info {
  background-color: #5C3D2E;
  color: #E0C097;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.user-account-info > .btnaccount {
  margin: 10px auto;
  padding: 5px;
  display: block;
  width: 150px;
  text-decoration: none;
}

.suggUser > .sugg {
  margin-bottom: 10px;
}

.modif-pro {
  width: 200px;
  height: 35px;
}

.modif-form > label {
  margin: 5px 0;
  color: #E0C097;
}

.modif-form > input {
  margin: 5px 0;
  width: 80%;
  text-align: center;
}

.modif-form > input[type='email'] {
  margin-bottom: 30px;
}

.modif-form > input.btnmodif {
  width: 50%;
  height: 35px;
}

.searcht {
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.contentsearchpage {
  background: #5C3D2E;
  margin: 20px 0;
}

.contentsearchpage > .contentpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentsearchpage > .contentpage > .nbrpage {
  margin: 10px;
  color: #E0C097;
  font-weight: bolder;
}

.contentsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  background: #5C3D2E;
}

.imgbookss {
  width: 90px;
  height: 140px;
  margin: 10px 0;
}

.bookdescse {
  display: none;
}

.tbook {
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.figurefirstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgbookse {
  width: 250px;
}

.infobook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #5C3D2E;
  width: 80%;
  margin: 20px 0;
  text-align: center;
  color: #E0C097;
  padding: 10px 0;
  font-weight: bold;
}

.infobook > p {
  margin: 2px;
}

.descbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px 0;
  margin-left: 20%;
  background-color: #5C3D2E;
  color: #E0C097;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.descbook > p {
  margin: 10px;
}

.bgbookmark {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 20px 0;
  color: #E0C097;
}

.bgbookmark > .square {
  width: 240px;
  height: 40px;
  line-height: 40px;
  background: #5C3D2E;
  -webkit-box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.5);
}

.bgbookmark > .square > a {
  text-decoration: none;
  color: #2D2424;
}

.bgbookmark > .triangle {
  width: 0px;
  height: 0px;
  z-index: -1;
  border-top: 40px solid #5C3D2E;
  border-right: 40px solid transparent;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.bgres {
  background-color: #5C3D2E;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-wanted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnbooking {
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px 0;
}

.comment {
  background: #5C3D2E;
  position: relative;
  margin: 5px 0;
  padding: 5px;
  color: #E0C097;
}

.comment > p {
  margin: 10px;
}

.comment > .lines {
  position: absolute;
  left: 10%;
  bottom: -5px;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: #E0C097;
}

.addcom {
  background: #5C3D2E;
}

.addcom > .bgbookmark > .square {
  background: #E0C097;
  color: #2D2424;
  z-index: 1000;
}

.addcom > .bgbookmark > .triangles {
  width: 0px;
  height: 0px;
  z-index: 100;
  border-top: 40px solid #E0C097;
  border-right: 40px solid transparent;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.addcom > form {
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addcom > form > .btnsub {
  margin: 0 auto;
  padding: 5px;
}

.usereserv {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2D2424;
  color: #E0C097;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

@media screen and (min-width: 1000px) {
  .menubg, .logoh {
    display: none;
  }
  .headerhome {
    height: 100px;
  }
  .logohd {
    display: block;
  }
  .menuh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #searchbar {
    height: 650px;
  }
  #searchbar > .bgblur {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  #searchbar > .bgblur > label {
    font-size: 64px;
  }
  #searchbar > .bgblur > .selectcat, #searchbar > .bgblur > .inpsearchbar, #searchbar > .bgblur > .btnsub {
    margin: 50px 10px;
  }
  #searchbar > .bgblur > .selectcat {
    font-size: 24px;
    width: 20%;
  }
  #searchbar > .bgblur > .inpsearchbar {
    width: 40%;
    font-size: 24px;
  }
  #searchbar > .bgblur > .btnsub {
    width: 20%;
    height: 50px;
    font-size: 24px;
  }
  #searchbar > .bgblur > #categories {
    width: 40%;
    font-size: 24px;
  }
  .news {
    height: 900px;
  }
  .imgbooks {
    width: 450px !important;
  }
  .title {
    font-size: 40px;
  }
  .title.new, .title.biblio, .title.sugg {
    width: 650px;
    height: 80px;
  }
  .sugg {
    height: 800px;
  }
  .imgbook {
    width: 300px;
    height: 540px;
  }
  .biblio > .resume {
    font-size: 36px;
    padding: 10px 200px 300px 200px;
  }
  .imgbiblio {
    width: 80%;
    padding-top: 10px;
  }
  #footermain {
    padding: 5px;
  }
  #footermain > .logocontact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  #footermain > .logocontact > .imglogo {
    width: 450px;
  }
  #footermain > .logocontact > .contacttitle {
    margin-right: 80px;
    width: 260px;
    height: 80px;
    line-height: 80px;
    border-width: 3px;
  }
  #footermain > .logocontact > .contacttitle > h3 {
    font-size: 26px;
  }
  #footermain > .socialnkhor {
    margin-top: 10px;
  }
  #footermain > .socialnkhor > .social > .title {
    width: 250px;
    height: 80px;
    line-height: 80px;
    border-width: 3px;
    font-size: 26px;
  }
  #footermain > .socialnkhor > .social > .logosocial {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0;
  }
  #footermain > .socialnkhor > .social > .logosocial > a > .logoS {
    width: 80px;
  }
  #footermain > .socialnkhor > .horaire > p {
    font-size: 26px;
  }
  #footermain > .socialnkhor > .horaire > #hor {
    margin-bottom: 100px;
  }
  .btncontact {
    width: 250px;
    height: 80px;
    line-height: 80px;
    border-width: 3px;
    font-size: 26px;
  }
  #msg {
    width: 500px;
  }
  .mention {
    margin: 40px 0;
  }
  .connectp, .modif-form {
    margin: 100px auto;
    margin-bottom: 10px;
    padding: 20px 5px;
    width: 40%;
  }
  .connectp > .btnconnect > .btnlinkco, .modif-form > .btnconnect > .btnlinkco {
    width: 220px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
  }
  .connectp > .titleco, .modif-form > .titleco {
    font-size: 30px;
  }
  .connectp > .formconnect > .inpconn, .modif-form > .formconnect > .inpconn {
    height: 30px;
    font-size: 24px;
  }
  .connectp > .formconnect > .btnsub, .modif-form > .formconnect > .btnsub {
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin-top: 60px;
  }
  .btnbacks {
    margin-bottom: 90px;
  }
  .menuadmin > li > a {
    font-size: 16px;
    line-height: normal;
  }
  .add-diff {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 80%;
    margin-bottom: 30px;
  }
  .btnsubb {
    width: 250px;
    height: 65px;
    font-size: 24px;
  }
  .diffetat {
    width: 50%;
    font-size: 20px;
  }
  .circle {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .bookadmin > .line {
    width: 90%;
    left: 5%;
  }
  .contentbook {
    width: 90%;
  }
  .content-img-bookadm {
    display: block;
  }
  .content-img-bookadm .img-bookadm {
    width: 280px;
  }
  .resumbook {
    font-size: 20px;
  }
  .resumbook > p, .resumbook > h3 {
    margin-bottom: 20px;
  }
  .btn-ico {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 370px;
  }
  .btn-ico > a {
    text-decoration: none;
  }
  .btna {
    width: 200px;
    padding: 0 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btna > span {
    display: block;
    color: #5C3D2E;
    font-size: 24px;
  }
  .btna:hover {
    background: #acc4ce;
  }
  .newbookt {
    width: 350px;
    height: 65px;
  }
  .formaddbook {
    margin: 10px;
    font-size: 24px;
  }
  .tay, .dcgi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tay > .descadd, .dcgi > .descadd {
    text-align: start;
    margin: 30px 0;
  }
  .tay > .descadd > textarea, .dcgi > .descadd > textarea {
    margin-top: 10px;
    font-size: 20px;
    width: 700px;
    height: 400px;
  }
  .tay > input, .dcgi > input {
    height: 28px;
    width: 40%;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
  }
  .cgi > input {
    height: 28px;
    width: 40%;
    font-size: 20px;
  }
  .cgi > select {
    height: 28px;
    font-size: 20px;
    width: 40%;
  }
  .gender-add {
    margin: 10px;
  }
  .gender-add > .checkboxcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gender-add > .checkboxcontent > label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pleetat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ple {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
  }
  .ple > input {
    width: 30%;
    height: 28px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ple > label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 28px;
  }
  .ple > label > span {
    margin-right: 50px;
  }
  .ple > .upload {
    height: 28px;
    margin-bottom: 10px;
    width: 40%;
  }
  .ple > .upload .btn-upload {
    width: 60%;
    height: 28px;
    font-size: 20px;
  }
  .etat {
    width: 40%;
  }
  .etat > .condition {
    width: 40%;
  }
  .quantity {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quantity > label {
    margin-bottom: 0;
    margin-right: 5px;
  }
  .quantity > input {
    height: 28px;
    margin-bottom: 0;
  }
  .addbook {
    width: 280px;
    height: 55px;
    font-size: 30px;
  }
  .register {
    width: 40vw !important;
  }
  .accountt, .histo, .suggt {
    width: 400px;
    height: 65px;
  }
  .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .user-historique > .book-date > .date, .user-historique > .book-date > .bookreserv, .user-historique > .book-res > .date, .user-historique > .book-res > .bookreserv {
    height: 50px;
    font-size: 24px;
  }
  .histo-account {
    width: 45%;
  }
  .user-account-info {
    font-size: 26px;
  }
  .suggUser {
    width: 50%;
  }
  .suggUser > .sugg {
    width: 100%;
  }
  .suggUser > .sugg > .book > .linkbook > .imgbook {
    width: 100%;
    height: 345px;
  }
  .suggUser > .sugg > .book:nth-child(odd) {
    margin-top: 100px;
  }
  .modif-pro {
    width: 20vw;
    height: 60px;
    line-height: 60px;
  }
  .modif-form {
    margin: 50px auto;
    font-size: 24px;
    width: 60%;
  }
  .modif-form > input {
    height: 26px;
    font-size: 24px;
    width: 50%;
  }
  .modif-form > input.btnmodif {
    font-size: 36px;
    height: 50px;
    width: 30%;
  }
  .tbook {
    width: 470px;
    height: 120px;
    color: #5C3D2E;
    background: #E0C097;
  }
  .headbook {
    background: #5C3D2E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 0;
    position: relative;
  }
  .imgbookse {
    width: 470px;
    height: 700px;
    margin: 10px 20px;
  }
  .infobook {
    margin: 0px;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 20%;
    font-size: 30px;
  }
  .descbook {
    margin: 0px;
    width: 60%;
    font-size: 30px;
    height: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .searcht {
    width: 680px;
    height: 100px;
    font-size: 36px;
  }
  .contentsearch > a {
    text-decoration: none;
  }
  .bookdescse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #E0C097;
    margin: 10px;
    font-size: 30px;
    width: 435px;
    text-align: center;
  }
  .booksear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #2D2424;
    margin: 10px 0;
  }
  .imgbookss {
    width: 340px;
    height: 540px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */