@import 'reset.scss';

$bgb : #2D2424;
$bgbtn : #5C3D2E;
$color : #E0C097;

body{
    font-family: 'K2D';
    background: $color;
}

// -----HEADER------
.headerhome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bgb;
    height: 55px;
    width: 100vw;
}
.logoh{
    height: 55px;
}
.logohd{
    height: 100px;
    display: none;
}
.menuh{
    display: none;
    align-items: center;
    &>li{
        &>a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            height: 60px;
            width: 230px;
            line-height: 60px;
            text-align: center;
            margin: 10px;
            font-size: 24px;
            color: $color;
            border: $color solid 3px;
            transition: all 0.3s ease;
            font-weight: bolder;
            &>img{
                width: 60px;
            }
        }    
    }
    &>li:nth-child(3) > a{
        background: $bgbtn;
    }
    &>li:nth-child(3):hover > a{
        border-color: $bgbtn;
        color: #acc4ce;
    }
    &>li:hover > a{
        border-color: $bgbtn;
        color: #acc4ce;
    }
}
.menubg{
    height: 40px;
    width: 40px;
    background-color: $color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &>.line, &>.linecenter{
        height: 2px;
        background-color: $bgb;
        border-radius: 2px;
    }
    &>.line{
        width: 25px;
    }
    &>.linecenter{
        width: 30px;
    }
}
.menumobile{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bgb;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100vw);
    &> ul{
        text-align: end;
        &> li{
            margin: 30px 10px;
            &> a{
                font-size: 25px;
                text-decoration: none;
                color: $color;
            }
        }
    }
}
.show{
    transform: translateX(0) !important;
}
.close{
    font-size: 36px;
    font-weight: bolder;
    color: $color;
    margin: 10px;
}

//-----SEARCHBAR------
#searchbar{
    height: 170px;
    background: url(../asset/pexels-tamás-mészáros-12064.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bgblur{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 0px;
    background-color: #2d242423;
    backdrop-filter: blur(1px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    &> label{
        font-size: 20px;
        font-weight: 900;
        color: $color;
    }
    &> .selectcat, &> .inpsearchbar, &> .btnsub{
        margin: 4px auto;
    }
    &> .selectcat{
        width: 150px;
        background: $color;
        font-family: 'K2D';
        font-size: 14px;
        color: $bgb;
        text-align: center;
        border: none;
    }
    &> .inpsearchbar{
        width: 270px;
        font-family: 'K2D';
        font-size: 14px;
        border: none;
    }
    &> .btnsub{
        width: 125px;
        height: 25px;
        border-radius: 0px;
        border: 1px solid $color;
        background: $bgb;
        color: $color;
        border-width: 3px;
        transition: all 0.3s ease;
    }
    &> .btnsub:hover{
        border-color: $bgbtn;
        color: #acc4ce;
    }
    &>#categories{
        width: 270px;
        font-family: 'K2D';
        font-size: 14px;
        border: none;
        display: none;
    }
}
.showit{
    display: block !important;
}
.hideit{
    display: none !important;
}
// -----MAIN------
.title{
    border: 2px solid $bgb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    background-color: $bgbtn;
    font-weight: bold;
    font-size: 16px;
    margin: 20px auto;
    margin-bottom: 10px;
    &.new{
        width: 200px;
        height: 35px;
    }
    &.sugg{
        width: 200px;
        height: 60px;
    }
    &.biblio{
        width: 200px;
        height: 35px;
    }
}
.news{
    background-color: $bgbtn;
    display: flex;
    overflow: hidden;
    height: 360px;
    position: relative;
    &>.book{
        &.pass > .linkbook > .imgbooks{
            position: absolute;
            margin-top: 100px;
            width: 130px;
            transition: all .5s ease;
            &.left{
                transform: scale(0.5) translateX(-5%);
                left: 5%;
            }
            &.lhide{
                transform: scale(0.5) translateX(50%);
                left: -50%;
            }
            &.right{
                transform: scale(0.5) translateX(5%);
                right: 5%;
            }
            &.rhide{
                transform: scale(0.5) translateX(-50%);
                right: -50%;
            }
        }
    }
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: $color;
    z-index: 1000;
    cursor: pointer;
    &.aleft{
        left: 5%;
    }
    &.aright{
        right: 5%;
    }
}
.pointerNone{
    pointer-events: none;
}
.act{
    margin-top: 5px !important;
    transform: scale(1) translateX(-50%) !important;
    left: 50% !important;
}
.sugg{
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: $bgbtn;
    align-items: center;
}
.imgbook{
    width: 90px;
    height: 140px;
}
.biblio{
    text-align: center;
    background: $bgbtn;
    &>.resume{
        font-size: 16px;
        color: $color;
        padding-bottom: 20px;
        margin: 5px;
        margin-bottom: 10px;
    }
}
.imgbiblio{
    width: 100%;
}
// ------FOOTER-------
#footermain{
    background: $bgb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &>.logocontact{
        display: flex;
        flex-direction: column;
        align-items: center;
        &>.contacttitle{
            width: 150px;
            height: 40px;
            border: 2px solid $bgbtn;
            line-height: 40px;
            text-align: center;
            background: $color;
            &> h3{
                font-size: 16px;
                font-weight: bolder;
                color: $bgb;
            }
    }
}
.socialnkhor{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
    &>.social{
        &>.title{
            width: 120px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            padding: 3px;
            background: $color;
            border: 2px solid $bgbtn;
            color: $bgb;
        }
        &>.logosocial{
            display: flex;
            justify-content: space-around;
            padding: 3px 0;
            &>a{
                &>.logoS{
                    width: 30px;
                }   
            }

        }
    }
    &>.horaire{
        color: $color;
        &>p{
            font-size: 12px;
            font-weight: bold;
            &>span{
                text-decoration: underline;
            }
        }
        &>#hor{
            margin-bottom: 10px;
        }
    }
}
    
}
.imglogo{
    width: 255px;
}
.btncontact{
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: $bgbtn;
    border: 2px solid $color;
    color: $color;
    padding: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        border-color: $bgbtn;
        color: #acc4ce;
    }
}
.contact{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: $bgb;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100vw);
    &>form{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: $color;
        &>label{
            margin-top: 10px;
        }
        &>button{
            margin-top: 10px;
            width: 125px;
            height: 25px;
            border-radius: 0px;
            border: 1px solid $color;
            background: $bgb;
            color: $color;
            border-width: 3px;
            transition: all 0.3s ease;
        }
    }
}
.closec{
    font-size: 36px;
    font-weight: bolder;
    color: $color;
    margin: 10px;
    cursor: pointer;
}
.mention{
    color: white;
    font-size: 12px;
    margin: 5px 0px;
}

// ------MEDIA QUERIE-------
@media screen and (min-width: 1000px) {
    // ----hender----
    .menubg, .logoh{
        display: none;
    }
    .headerhome{
        height: 100px;
    }
    .logohd{
        display: block;
    }
    .menuh{
        display: flex;
    }
    // ---searchbar----
    #searchbar{
        height: 650px;
        &>.bgblur{
            flex-direction: row;
            justify-content: center;
            backdrop-filter: blur(2px);
            &>label{
                font-size: 64px;
            }
            &> .selectcat, &> .inpsearchbar, &> .btnsub{
                margin: 50px 10px;
            }
            &> .selectcat{
                font-size: 24px;
                width: 20%;
            }
            &> .inpsearchbar{
                width: 40%;
                font-size: 24px;
            }
            &> .btnsub{
                width: 20%;
                height: 50px;
                font-size: 24px;
            }
            &>#categories{
                width: 40%;
                font-size: 24px;
            }
        }
    }
    // -----main-----
    .news{
        height: 900px;
    }
    .imgbooks{
        width: 450px !important;
    }
    // ----footer----
    #footermain{
        padding: 5px;
        &>.logocontact{
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            &> .imglogo{
                width: 450px;
            }
            &> .contacttitle{
                margin-right: 80px;
                width: 260px;
                height: 80px;
                line-height: 80px;
                border-width: 3px;
                &>h3{
                    font-size: 26px;
                }
            }
        }
        &>.socialnkhor{
            margin-top: 10px;
            &>.social{
                &>.title{
                    width: 250px;
                    height: 80px;
                    line-height: 80px;
                    border-width: 3px;
                    font-size: 26px;
                }
                &>.logosocial{
                    justify-content: space-between;
                    padding: 50px 0;
                    &>a{
                        &>.logoS{
                            width: 80px;
                        }
                    }
                }
            }
            &>.horaire{
                &>p{
                    font-size: 26px;
                }
                &>#hor{
                    margin-bottom: 100px;
                }
            }
        }
    }
    .btncontact{
        width: 250px;
        height: 80px;
        line-height: 80px;
        border-width: 3px;
        font-size: 26px;
    }
    .mention{
        margin: 40px 0;
    }
}
