<footer id="footermain">
    <div class="logocontact">
        <img class="imglogo" src="./Views/Templates/asset/largelogobiblioblack.png" alt="logo">
        <div class="contacttitle">
            <h3>CONTACT</h3>
        </div>
    </div>
    <div class="socialnkhor">
        <div class="social">
            <div class="title"><h4>Restez Connecté</h4></div>
            <div class="logosocial">
                <a href=""><img class="logoS" src="./Views/Templates/asset/facebook.png" alt=""></a>
                <a href=""><img class="logoS" src="./Views/Templates/asset/insta.png" alt=""></a>
                <a href=""><img class="logoS" src="./Views/Templates/asset/twitter.png" alt=""></a>
            </div>
            <div class="contact">Contactez-nous</div>
        </div>
        <div class="horaire">
            <p><span>Horaire</span></p>
            <p>Lundi - Vendredi: 9h-19h</p>
            <p id="hor">Samedi - Dimanche: 14h-18h</p>
            <p><span>Email :</span> bibliolyon@lyon.fr</p>
            <p><span>Tel :</span> +336.66.66.66.66</p>
        </div>
    </div>
    <a class="mention" href="./">Mentions légales</a>
</footer>
<script src="./Views/Templates/js/main.js"></script>