<header class="headerhome">
    <a href="{{root}}/">
        <img src="{{root}}/Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="{{root}}/Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
</header>