<header class="headerhome">
    <a href="./">
        <img src="./Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="./Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
    <div class="menubg">
        <div class="line"></div>
        <div class="linecenter"></div>
        <div class="line"></div>
    </div>
    <ul class="menuh">
        <li><a href=""><img src="./Views/Templates/asset/home.png" alt="fanny"> Accueil</a></li>
        <li><a href=""><img src="./Views/Templates/asset/book.png" alt="fanny"> Genre</a></li>
        <li><a href="./connectUser"><img src="./Views/Templates/asset/account.png" alt="fanny"> Mon Compte</a></li>
    </ul>
    <div class="menumobile">
        <div class="close">X</div>
        <ul>
            <li><a href="./">Accueil</a></li>
            <li><a href="./genre">Genre</a></li>
            <li><a href="./connectUser">Mon Compte</a></li>
        </ul>
    </div>
</header>