<header class="headerhome">
    <a href="./">
        <img src="./Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="./Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
</header>