<header class="headerhome">
    <a href="./">
        <img src="./Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="./Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
    <div class="menubg">
        <div class="line"></div>
        <div class="linecenter"></div>
        <div class="line"></div>
    </div>
    <div class="menumobile">
        <div class="close">X</div>
        <ul>
            <li><a href="./">Accueil</a></li>
            <li><a href="./genre">Genre</a></li>
            <li><a href="./connexion">Mon Compte</a></li>
        </ul>
    </div>
</header>