<div>
    <form action="{{root}}/search" method="GET" id="searchbar">
        <div class="bgblur">
            <label for="search">Que cherchez-vous ?</label>
        </div>
        <div class="bgblur">
            <select class="selectcat" name="searchcat" id="searchcat">
                <option class="searchcate" value="category">Catégorie</option>
                <option class="searchcate" value="author">Auteur</option>
                <option class="searchcate" value="title">Titre</option>
                <option class="searchcate" value="publish">Date de Publication</option>
                <option class="searchcate" value="lang">Langue</option>
            </select>
            
            <select name="categories" id="categories">
                <option value="roman">Roman</option>
                <option value="manga">Manga</option>
                <option value="bd">BD</option>
                <option value="magazine">Magazine</option>
                <option value="journal">Journal</option>
            </select>
            <input class="inpsearchbar" type="text" name="s" id="search" placeholder="Votre recherche ...">
            <button class="btnsub" type="submit">RECHERCHER</button>
        </div>
    </form>
</div>