<div>
    <form action="./search" method="GET" id="searchbar">
        <div class="bgblur">
            <label for="search">Que cherchez-vous ?</label>
        </div>
        <div class="bgblur">
            <select class="selectcat" name="searchcat" id="searchcat">
                <option value="category">Catégorie</option>
                <option value="author">Auteur</option>
                <option value="title">Titre</option>
                <option value="publish">Date de Publication</option>
                <option value="lang">Langue</option>
            </select>
            <input class="inpsearchbar" type="text" name="s" id="search" placeholder="Votre recherche ...">
            <button class="btnsub" type="submit">RECHERCHER</button>
        </div>
    </form>
</div>